
@media screen and (min-width:  320px) and (max-width:1920px){
    
}

#mainInfo{
    border-style: ridge;
    border-width: 10px;
    height:300px;
    width: 1000px;
    border-color:  #79553D;
    background-color: #BC987E;
    background-image: url("../backgrounds/BackInf.png");
    background: linear-gradient(#BC987E);
    user-select: none;
}


#text{
    text-align: center;
}

#socialmedia{
    
    width: 100%;
    padding: 3px 10px;
    float: left;
    padding-right: 0%;
    padding-left: 0%;
    
}
#back{
  background-image: url('../backgrounds/Background.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: 100%;
  background-size: cover;
  position: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  top:0;
  left:0;
  
  width: 100%;
  height: 100%;
    
    z-index: -1;
}

body{
  
    background-color: grey;
    
    text-align: center;
    font-family: "press Start 2P";
    
    
}
#switcher{
    background-color: transparent;
    background-repeat: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-family: inherit;
    font-size: 35px;
    color: red;
    padding-left: 0%;
    padding-right: 0%;
    font-weight: bold;
    position: relative;
    text-shadow: 2px 2px 2px white;
    top: 5px;
    z-index: 1000;
}




#On{
    position: absolute;
    left: 51.6%;
    top:42px;
    z-index: 1000;
    color: white;
}
#it
{
    position: absolute;
   left: 44.4%;
   top:42px;
   z-index: 1000;
   color: white;
   
}
#overlay{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    z-index:0;
}

#mainInfo{
    
    width:850px; 
    margin:auto; 
    height: 330px;
    
}





.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: black;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: palegreen;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }
